* {
	padding: 0;
	margin: 0;
}

page {
	max-width: 7.5in;
	display: block;
	margin: 0 auto;
	overflow: none;
	position: relative;
	font-family: 'Raleway', 'Avenir', 'Helvetica', 'Arial', sans-serif;
	color: #4b4b4b
}

a {
	color: #C46474;
	text-decoration: none;
}

header {
	width: 100%;
}

.job-title {
	font-size: 18px;
	margin: 8px 0;
}

.job-title strong {
	color: #C46474;
}

.material-icons {
	font-size: 18px;
}

#summary {
	margin: 24px 0 32px;
	line-height: 1.5;
	font-size: 16px;
}

section#education {
  margin: 2em 0;
}

#experience h2 {
	margin-top: 2em;
}

.container {
  display: flex;
  width: 100%;
  flex-direction:  row;
  flex-wrap: nowrap;
	margin-top: 16px;
	flex-grow: 0;
	justify-content: flex-start;
	page-break-inside: avoid;
}

.education-dates, .experience-dates {
  flex-basis: 25%;
	flex-grow: 0;
	page-break-after: avoid;
}

.education-content, .experience-content {
  flex-basis: 70%;
	flex-grow: 0;
	margin-left: 1em;
}

.education-content h2, .experience-content h2 {
	page-break-after: avoid;
}

.coop {
	font-size: 14px;
}

.experience-content p {
	margin: 8px 0;
}

.ref {
	margin-top: 2em;
}

.education-content h3 {
  font-size: 14px;
  margin: 4px 0;
}

@media print {
	page {
		color: #000;
	}

	.job-title strong {
		color: #000;
	}

	a {
		color: #000;
		text-decoration: underline;
	}
}
